.Card{
    position: relative;
    background-color: black;
    overflow: hidden;
    border-radius: 5px ;
    @media screen and (max-width:600px) {
        max-width: 190px;
    }
    @media screen and (max-width:450px) {
        max-width: none;
    }

    &:hover{
        transform: scale(1.05);
    }
    &__name{
        position: relative;
        text-align: center;
        font-size: 18px;
        color: rgb(255, 166, 0);
        cursor: pointer;
        margin-bottom: 5%;
        text-decoration: none;
        @media screen and (min-width:1400px) {
            max-width: 190px;
        }
        &:hover{
            color: rgb(255, 190, 1);
        }
        &_box{
            position: relative;
            top: 95%;
            box-shadow: 0px 2px 30px 30px black;
            background-color: black;
        }
    }
    &__logo{
        position: relative;
        cursor: pointer;
        max-height: 310px;
        min-height: 290px;
        @media screen and (min-width:600px){
            max-height: none;
            width: 100%;
        }
        @media screen and (max-width:400px){
            max-height: none;
            width: 100%;
        }
    }
    &__last_volume{
        position: relative;
        color: white;
        text-align: center;
        cursor: pointer;
        margin-bottom: 15%;

    }
}