*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #363636;
}
@font-face {
    font-family: 'ReggaeOne';
    src: url(../fonts/ReggaeOne-Regular.ttf);
}
// sakura
// background-color #9a5b5b
// navbar and sidepanel #ff8080