$heigh_navbar_1920:130px;
$width_logo_1920: 360px;


.navbar{
    position: fixed;
    width: 100%;
    height:calc($heigh_navbar_1920 / 1.4) ;
    background:rgba(126, 126, 126, 1);
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    @media screen and (min-width:1920px) {
        height: calc($heigh_navbar_1920);
    }
    @media screen and (max-width:1440px){
        height: calc($heigh_navbar_1920 / 1.4);
    }
    @media screen and (max-width:1024px){
        height: calc($heigh_navbar_1920 / 1.875);
    }
    @media screen and (max-width:800px){
        height: calc($heigh_navbar_1920 / 2);
    }
    @media screen and (max-width:325px){
        height: calc($heigh_navbar_1920 / 2.2);
    }
    &__search{
        position: relative; 
        width: 100%;
        height: 100%;
        @media screen and (max-width:600px) {
            display: none;
        }
    }
}
